/* .Layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100%;
}

.Layout header {
    grid-column: 1;
    grid-row: 1;
}

.Layout main {
    grid-column: 1;
    grid-row: 2;
    overflow-y: auto;
}

.Layout footer {
    grid-column: 1;
    grid-row: 3;
}

.Layout > * {
    border: 1px solid lightblue;
    background-color: rgb(237, 249, 237);
} */

.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #4b3b2a;
    color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  main {
    flex: 1;
    padding: 1rem;
    background-color: #f5f5f5;
  }
  
  footer {
    background-color: #4b3b2a;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
  }